body {
    /* background-color: #f6ebeb; */
    background-color: #dddddd;
}

h2 {
    color: blue;
}

.contactContainer {
    display: grid;
    place-content: center;
    grid-template-rows: repeat(3, 1fr);
    background-color: #f5f5f5;
}

table {
    border: 1px solid #cdcdcd;
    border-collapse: collapse;
    margin: 0 auto;
    height: auto;
    grid-row: 2 / 3;
}

caption {
    color: #000000;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

th,
td {
    border: 1px solid #cdcdcd;
    padding: 10px;
}

th {
    background-color: #1976d2;
    color: #ffffff;
}

tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #dddddd;
}

th,
td {
    flex: 1 1 1rem;
}

@media screen and (min-width:780px) {
    table {
        border: 1px solid #cdcdcd;

        border-collapse: collapse;
        margin: 0 auto;
        height: auto;
        width: 35rem;
        text-align: center;

    }

    .contactContainer {
        margin: 30px;
    }

}