{% extends '_base.html' %}
{% load static %}

{% block content %}
<!--- main -->
<section class="main">
    <article>
        <figure class="events">
            <img src="{% static 'images/poster.jpg' %}" alt="annual_events" />
            <figcaption>
                <h3>Past events</h3>
            </figcaption>
            <p>Nangchen Nyernga, cultural show in 2022.</p>
        </figure>
    </article>
    <article>
        <figure>
            <img src="{% static 'images/nangchen_king.jpg' %}" alt="Gyalpo" />
            <figcaption>
                <h3>Gyalpo</h3>
            </figcaption>
            <p>The above picture is the Nangchen King, Tashi Tsewang Topgye. He is the last ruler of
                Nangchen County who took throne from 1911 to 1961. During the small Kingdoms in Tibet Nangchen
                County was ruled by many rulers and Tashi Tsewang Topgye was the 29th and the last King.
            </p>
        </figure>
    </article>
    <article>
        <figure>
            <img src="{% static 'images/gyalmo.jpg' %}" alt="Gyalmo" />
            <figcaption>
                <h3>Gyalmo</h3>
            </figcaption>
            <p>The picture you see above is the queen consort of last Nangchen King Tashi Tsewang Topgye. Her name is
                Derge Youdon.
                She was a daughter of Derge County King. In Nangchen, She was called Derge Youdon because she was the
                daughter of Derge County King. She had three sons
                and three daughters and an illigitimate son.
            </p>
        </figure>
    </article>
    <article>
        <figure>
            <img src="{% static 'images/palace.jpg' %}" alt="Palace" />
            <figcaption>
                <h3>Palace</h3>
            </figcaption>
            <p>Nangchen kings residence</p>
        </figure>

    </article>
</section>
{% endblock %}